@font-face {
	font-family: "Helvetica Neue Thin";
	font-weight: normal;
	font-style: normal;

	src: url("../fonts/helvetica-neue_thin.woff") format("woff"),
	url("../fonts/helvetica-neue_thin.woff2") format("svg");
}
body {
	color: rgba(255, 255, 255, 1);
	background: rgba(17, 17, 17, 1);

	font-family: "Helvetica Neue Thin", Arial, sans-serif;
	font-size: 13px;
}
.navigation,
.video,
.playlist {
	padding: 0;

	list-style-type: none;
}
.playlist li {
	padding: 10px 20px;

	border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.playlist li:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.playlist li:hover,
.playlist li.active {
	cursor: pointer;

	background: rgba(184, 26, 23, 1);
}
.playlist .season {
	padding-top: 25px;

	text-align: center;
}
.playlist .season:hover {
	cursor: default;

	background: none;
}
.season h2 {
	font-size: 20px;
}
@media (min-width: 61.9em) {
	body {
		overflow: hidden;
	}
	body,
	main,
	.video,
	.navigation,
	.playlist {
		height: 100vh;
	}
	.video .embed-responsive {
		top: 50%;

		transform: translateY(-50%);
	}
	.navigation {
		border-left: 1px solid rgba(255, 255, 255, 0.3);
	}
	.playlist {
		overflow: scroll;
	}
}
