@font-face {
    font-family: "Helvetica Neue Thin";
    src: url("../fonts/helvetica-neue_thin.woff") format("woff"),
    url("../fonts/helvetica-neue_thin.woff2") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue Light";
    src: url("../fonts/helvetica-neue_light.woff") format("woff"),
    url("../fonts/helvetica-neue_light.woff2") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("../fonts/helvetica-neue_medium.woff") format("woff"),
    url("../fonts/helvetica-neue_medium.woff2") format("svg");
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "Helvetica Neue Thin";
    color: rgba(255, 255, 255, 1);
}
header{
    height: 20vh;
    background: rgba(255, 255, 255, 1) url(../img/header.png) no-repeat center;
    background-size: contain;
}
main{
    background: rgba(17, 17, 17, 1);
}
.navigation{
    padding: 0;
}
.playlist{
    list-style-type: none;
    padding: 0;
    overflow: scroll;
}
.playlist li{
    padding: 25px 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.playlist li:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.playlist li:hover{
    background: rgba(184, 26, 23, 1);
}
.playlist li.active{
    background: rgba(184, 26, 23, 1);
}
@media (min-width: 61.9em) {
    body{
        height: 100vh;
        overflow: hidden;
    }
    main{
        height: 80vh;
    }
    .navigation{
        height: 80vh;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
    }
}
